html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 850px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  background-image: url(https://code.s3.yandex.net/web-code/images/dotted-l.svg);
}

a {
  padding: 10px;
  color: #fd24af;
  background-color: white;
}

a:visited {
  color: white;
  background-color: #fd24af;
}